<app-primeiro-componente></app-primeiro-componente>
<app-segundo-componente></app-segundo-componente>
<app-pipe-customizado></app-pipe-customizado>
<app-two-away-data-binding></app-two-away-data-binding>
<app-renderizando-listas></app-renderizando-listas>
<app-componente-personalizado nome = "Jessica" sobrenome="Ferreira"></app-componente-personalizado>
<app-componente-personalizado nome = "Klauss Felipe" sobrenome="Ferreira"></app-componente-personalizado>
<app-component-pai></app-component-pai>
<app-exemplo-servico1></app-exemplo-servico1>
<app-exemplo-servico2></app-exemplo-servico2>